<!--with partial templating this is meant to move -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../images/favicon.ico">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <!-- Custom styles for this template -->
  <link href="../css/jumbotron.css" rel="stylesheet">
  <link href="../css/home.css" rel="stylesheet">
  <link href="../css/offcanvas.css" rel="stylesheet">
  <link href="../css/left-sidebar-menu.css" rel="stylesheet">
</head>

<body>
 
  <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"></div>
    
      <div class="btn-toolbar mb-2 mb-md-0">
        <div id="mySidenav" class="sidenav">
          <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
          <a href="home">Home</a>
          <a href="announcementspage">Post Announcement</a>
          <a href="chatpublicly"> Chat Publicly</a>
          <a href="chatprivately">Chat Privately</a>
          <a href="sharestatus">Share Status</a>
          <a href="userdirectory"> User Directory</a>
          <a href="searchinfopage"> Search Info</a>
          <a href="logout" id="logout"> Logout</a>
        </div>
      </div>
    </div>
  
