<% include ../partials/header %>

  <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">#Previous Announcements</h6>

    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          @Gilbert
        </strong>
        This is Public Announcement
      </p>
    </div>
    <!--- This section will handle the broadcast-->
    <div id="showannouncements"></div>
  </div>

  </div>
  <!-- form to post messages -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="postMessageForm" <form class="form-group" action="/announcements" method="post">
          <div class="form-group">
            <input type="hidden" name="coordinator" id="coordinator" value="" />
            <input type="text" name="coordinator" id="AnnouncementTitle" placeholder="Title Announcement" class="form-control" value=""
            />
            <div id="separator" style="height:20px;"></div>
            <textarea type="text" class="form-control" id="announcementArea" name="content" rows="3" placeholder="Write Announcement"></textarea>
            <div class="mx-auto" style="height:10px;"></div>
            <div class="btn-panel">
              <button type="button" class="btn btn-primary mb-2" id="postAnnouncement">
                <strong>Post Announcement</strong>
              </button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  </main>
  <% include ../partials/footer %>