<% include ../partials/header %>
<span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <!-- welcom message -->
          <div class="jumbotron">
            <p class="lead">
              <h4>Welcome UserName:<span id="usernameSpan"></span></h4>
              <p>Thank you for joining ESN application. Please see how you can share your status.</p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <img class="mb-4" src="../images/OK.png" alt="" width="25" height="25" align="left">
                    </td>
                    <td> Am OK </td>
                  </tr>
                  <tr class="success">
                    <td>
                      <img class="mb-4" src="../images/Help.png" alt="" width="25" height="25" align="left"> </td>
                    <td>I need Help</td>
                  </tr>
                  <tr class="success">
                    <td>
                      <img class="mb-4" src="../images/Emergency.png" alt="" width="25" height="25" align="left"> </td>
                    <td>My life is in danger</td>
                  </tr>
                </tbody>
              </table>
              <div class="btn-toolbar mb-2 mb-md-0">
                <input type="button" id="btnDirectory" value="List Directory" class="btn btn-success" />
              </div>
          </div>
        </div>
  </main>
  <!-- Seperate the footer code from main code this code resides in partials footer.ejs -->
  <!--for running faster js code its reccommende it is placed down here-->
  <% include ../partials/footer %>