<% include ../partials/header %>
  <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          Search Item #2
        </strong>
      </p>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          Search Item #5
        </strong>
      </p>
    </div>
  </div>

  </main>

  <% include ../partials/footer %>