<% include ../partials/header %>
<span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
         <!-- this div for sharing status -->
         <div class="jumbotron">
            <p class="lead">
              <p>Update Status</p>
              <form>
                <div class="form-check">
                  <input class="form-check-input" name="group100" type="radio" id="radio102">
                  <label class="form-check-label" for="radio102">Am Okay</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" name="group100" type="radio" id="radio103">
                  <label class="form-check-label" for="radio102">I need Help</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" name="group100" type="radio" id="radio104">
                  <label class="form-check-label" for="radio102">My Life is in danger</label>
                </div>

                <div class="mx-auto" style="height:10px;"></div>

                <div class="btn-toolbar mb-2 mb-md-0">
                  <input type="button" id="btnUpdatestatus" value="Share Status" class="btn btn-outline-info" />
                </div>

              </form>

          </div>

  </main>
  <% include ../partials/footer %>